@import "tailwindcss";

:root {
  --mobile-menu-bg-color: #feeedd;
  --font-color: #1e262e;
  --accent-color: #2bb6ed;
  --display-font: "Lexend", sans-serif;
}

@theme {
  --display-font: var(--display-font),
  --accent-color: var(--accent-color),
  --font-color: var(--font-color),
  --mobile-menu-bg-color: var(--mobile-menu-bg-color)
}